<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Location: <%= @user.city %></p>
<%= render "user-experiences", experiences: @user.experiences %>
<%= link_to "Add experience", new_experience_path, class: "text-link" %>
<%= render "user-courses", courses: @user.courses %>
<%= link_to "Add education", new_course_path, class: "text-link" %>
<br>
<p>Placeholder: job search</p>
<p>Placeholder: list of liked jobs</p>
<br>
<%= link_to "Available jobs", jobs_user_index_path, class: "text-link" %>
<br>
<%= link_to "Update Profile", edit_user_registration_path, class: "text-link" %>
<br>
<%= link_to "Log out", destroy_user_session_path, data: {turbo: false}, class:"text-link" %>
<br>
<%= link_to "Back", :back, class:"text-link" %>
<br>
<%= link_to "Home Page", root_path, class:"text-link" %>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>