<h3><%= @candidate.first_name %> <%= @candidate.last_name %></h3>

<div class="degrees-box">
  <div class="degree">
    <p><i class="fas fa-envelope"></i> <%= @candidate.email %></p>
    <p><i class="fas fa-phone"></i> <%= @candidate.phone %></p>
    <p><i class="fas fa-home"></i> <%= @candidate.city %></p>
  </div>
</div>