<h3>Jobs:</h3>

<div class="degrees-box">
    <% @company.jobs.each do |job| %>
        <div class="degree">
            <p>Title: <%= job.title %> </p>
            <p>Functional area: <%= job.sector %></p>
            <p>Level: <%= job.level %></p>
            <p>Education requirement: <%= job.education_requirement %></p>
            <p>Description: <%= job.description %></p>
        </div>
        <div class="degree-buttons">
            <%= link_to "Update", edit_job_path(@company, job), class: "update-link" %>
            <%= link_to "Delete", delete_job_path(@company, job), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "update-link" %>
        </div>
    <% end %>
</div>
<br>
<%= link_to "Back", :back, class: "text-link" %>