<h3>Jobs:</h3>

<div class="degrees-box">
    <% @jobs_array.each do |job| %>
        <div class="degree">
            <p>Company: <%= job.company.name %> </p>
            <p>Title: <%= job.title %> </p>
            <p>Functional area: <%= job.sector %></p>
            <p>Level: <%= job.level %></p>
            <p>Education requirement: <%= job.education_requirement %></p>
            <p>Description: <%= job.description %></p>
        </div>
        <br>
        <div class="like-box">
            <%= render "likes/private_button", job: job, like_status: current_user.liked?(job) %>
        </div>
    <% end %>
</div>
<br>
<%= link_to "Back", user_profile_path, class: "text-link" %>