<div class="form-box">
    <h5>Update your company account:</h5>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}, html: { method: :put }  ) do |f| %>
        <%= f.error_notification %>

        <%= f.input :name,
                    autofocus: true,
                    required: true,
                    :label => "Company name:" %>
        <%= f.input :sector,
                    required: true,
                    :label => "Industry:",
                    collection: Company::COMPANYSECTORS %>
        <%= f.input :city,
                    required: true,
                    :label => "Location:",
                    collection: User::CITIES %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" },
                    :label => "Email:" %>
        <%= f.input :password,
                    required: true,
                    hint: ("Leave blank if you don't want to change it; #{@minimum_password_length} minimum characters"),
                    input_html: { autocomplete: "new-password" },
                    :label => "Create a password:" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    :label => "Confirm password:" %>
        <%= f.input :current_password,
                    required: true,
                    hint: ("We need your current password to confirm your changes"),
                    input_html: { autocomplete: "current-password" },
                    :label => "Current password:" %>

        <div class="form-actions">
            <%= f.submit class: 'btn-primary', value: "Confirm" %>
        </div>
    <% end %>
    <br>
    <%= link_to "Back", :back, class: 'text-link' %>
</div>