<h3><%= @company.name %></h3>
<p>Email: <%= @company.email %></p>
<p>Industry: <%= @company.sector %></p>
<p>Location: <%= @company.city %></p>
<br>
<%= link_to "List of jobs", jobs_index_path(current_company), class:"text-link" %>
<br>
<%= link_to "Create a job", new_job_path(current_company, @job), class:"btn-primary" %>
<br>
<%= link_to "List of job seekers", user_index_path, class:"text-link" %>
<br>
<%= link_to "Update Company Profile", edit_company_registration_path, class:"text-link" %>
<br>
<%= link_to "Log out", destroy_company_session_path, data: {turbo: false}, class:"text-link" %>
<br>
<%= link_to "Back", :back, class:"text-link" %>
<br>
<%= link_to "Home Page", root_path, class:"text-link" %>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(current_company), data: { confirm: "Are you sure?" }, method: :delete %></p>